.folder {
    padding-left: 8px
}

.folder-head.collapsed .glyphicon-folder-close {

}

.folder-head.collapsed .glyphicon-folder-open {
    display:none;
}

.folder-head.expanded .glyphicon-folder-close {
    display:none;
}

.folder-head.expanded .glyphicon-folder-open {

}

.folder-head.collapsed ~ .children {
  display:none
}

.folder-head.expanded ~ .children {

}

.detail-box .well{
  min-height:175px!important;
}
.counts span {
    display:block;
    padding:0;
}
.counts span.count {
    font-size:28px;
}

.email-details div,.modify-details div {
  margin-bottom:5px;
  font-style:italic;
}

.email-details h5, .modify-details h5{
  font-size:90%;
  font-weight:bold;
  margin:0;
}

.tracking-detail{
  font-size:75%;
  font-weight:700;
  text-decoration:underline;
}

.vertical-tabs .nav.nav-stacked {

    max-width: 300px;
    width:20%;
    float:left;
}

.vertical-tabs .tab-content {
    position:relative;
    float:left;
    padding-left: 1em;
}

#inpFirstName {
    margin-right:5px
}

.scrollPaneClientLookup {
    width: 860px;
    height: 400px;
    padding: 25px;
    border: 2px solid gray;
    margin: 30px;
}

#myContactsPanel {

  height: 600px;
  overflow:scroll;

}

.list-group-item {
    border:0;
    padding:0px;
}

.retirement-img {
   margin-right: 100px;
   margin-bottom: 50px;
}

.searchbar {
	margin-bottom: 20px;
}

.linkAlignMobile {
	margin-right: 30px;
}
