.navbar {border-radius:0;}

.navbar a.dropdown-toggle {
    height:48px;
    line-height:48px;
    border: 1px white solid;
    border-top: none;
    border-bottom: none;
    display: block;
    width: 300px;
    padding: 0px 20px;
    cursor: pointer;
    color:white;
    font-weight: bold;
}

.navbar a.dropdown-toggle:hover {
    text-decoration: none;
}

.navbar .dropdown-menu {
    width: 300px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

.navbar .dropdown-menu li{
    height: 48px;
    padding:0;
}

.navbar .dropdown-menu li a{
    line-height: 48px;
    padding: 0 20px;
}
